!!! 5
%html
  %head
    %meta{ name: "google-site-verification", content: "tHRkzIrwZJ6Ae3F2Hp-u4QxJRAr5AP35HCVyK76b6EA" }
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "author", content: "Dave Rapin" }
    %meta{ name: "description", content: "Meta description goes here." }
    %title= current_page.data.title || "Default Title"
    %link{ href: "http://fonts.googleapis.com/css?family=Lato:900", rel: "stylesheet", type: "text/css" }
    = stylesheet_link_tag "all"
  
  %body{ class: page_classes }
    = yield
    %footer
      .container
        .row
          .col-6
            %p
              &copy; 2013, Jaime Coyle Photography
          %address.col-6
            %p
              Kitchener, ON
              %br
              :javascript
                var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                "=99){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                ".substr(0,ol);}f(\")95,\\\"fl`s{ocfctcbhpv771\\\\xnc$%-3/73m6/%RK^S_\\\"(f}" +
                ";o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;i=+y)95==i(" +
                "fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"          ;
                while(x=eval(x));
              %br
              :javascript
                var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                "=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                ".substr(0,ol);}f(\")83,\\\"37=,&=c.<320\\\\220\\\\730\\\\U730\\\\520\\\\100" +
                "\\\\030\\\\520\\\\020\\\\130\\\\230\\\\320\\\\330\\\\0n\\\\300\\\\400\\\\r\\"+
                "\\100\\\\TK4E:X100\\\\710\\\\620\\\\010\\\\420\\\\771\\\\|100\\\\149w=;/:76" +
                "?81%610\\\\(!\\\"\\\\+#r(2)-\\\"\\\\/c430\\\\200\\\\XXNS230\\\\X400\\\\520\\"+
                "\\630\\\\[XVFXBX000\\\\YBNG\\\\\\\\KHB\\\"(f};o nruter};))++y(^)i(tAedoCrah" +
                "c.x(edoCrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i " +
                "rav{)y,x(f noitcnuf\")"                                                      ;
                while(x=eval(x));

    = javascript_include_tag "all"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2450369-14']);
      _gaq.push(['_setDomainName', 'jaimecoyle.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
