// Colors

// Fonts
$primary-font: 'Lato', 'Helvetica', 'Arial', sans-serif
$secondary-font: 'Vollkorn', serif

body
  font-family: $secondary-font
  color: #444

h1, h2, h3, h4, h5, h6
  font-family: $primary-font
  font-weight: 700
  color: #333

.navbar
  font-family: $primary-font
  //background-color: rgba(255, 255, 255, 0.8)

.btn
  font-family: $primary-font

h1, .subheader
  color: #fff
  text-align: center
  letter-spacing: 2px

.subheader
  font-family: $secondary-font
  font-style: italic