
body
  font-size: 16px

.container
  min-width: 320px

.header
  h1
    font-size: 32px
  .subheader
    font-size: 18px

.header
  background-image: url("/images/header.jpg")
  background-size: cover
  background-position: top center
  padding-top: 140px
  padding-bottom: 220px
  color: #fff
  
.about
  margin-top: 50px

footer
  display: block
  margin-top: 25px
  border-top: 1px solid #ddd
  padding-top: 15px

  address
    text-align: right


// ****
// Responsive font sizes
@media (min-width: 481px)
  .header
    h1
      font-size: 50px
    .subheader
      font-size: 22px

@media (min-width: 768px)
  .header
    h1
      font-size: 70px
    .subheader
      font-size: 24px
  body
    font-size: 18px

@media (min-width: 1200px)
  .header
    h1
      font-size: 90px
    .subheader
      font-size: 26px
  