
.header
  background-image: url("/images/header.jpg")
  background-size: cover
  background-position: top center
  padding-top: 170px
  padding-bottom: 220px
  color: #fff
  letter-spacing: 2px
  h1
    font-size: 5.2em
    text-align: center
    text-decoration-style: uppercase
  .subheading
    font-size: 21px
    text-align: center
    color: #fff

footer
  display: block
  margin-top: 25px
  border-top: 1px solid #ddd
  padding-top: 15px

  address
    text-align: right

@media (max-height: 568px)
  .header
    padding-top: 112px
    h1
      font-size: 2.2em
  .subheading
    font-size: 16px
  