@import "_vars";
@import "_vendor/normalize";
@import 'layout';

@charset "utf-8";

@import '_modules/header';

body, p {
  font-family: $body-font, Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font, Helvetica, Arial, sans-serif;
  font-style: normal;
}

