---
title: Kitchener, Cambridge and Waterloo Photography | Jaime Coyle
---

%header.header
  .container
    .row
      .col-lg-12
        %h1 JAIME COYLE PHOTOGRAPHY
        %p.subheader Baby, maternity, and family photographer in the Kitchener, Waterloo, and Cambridge area.

.about
  .container
    .row
      .col-lg-12
        %h2 About Me
        %p Sought after lifestyle and portrait photographer specializing in newborn pictures, maternity photos, and family portraits. I capture the moments of little ones and families in the Cambridge, Waterloo and Kitchener area. I am also the mom of a sweet little boy who rocks my world every second, and a little baby girl who perfected my life.
        %p
          %a{ href: "http://blog.jaimecoyle.com/" } Learn more at my blog &raquo;

.maternity.gallery
  .container
    .row
      .col-12
        %h2 Maternity Photography
        %p.gallery-summary Document your pregnancy, one of the most memorable moments in your life, with professional quality photos.
    .row
      .col-sm-4
        %a{ href: "/images/maternity/1-kitchener-maternity-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/1-kitchener-maternity-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/2-maternity-photography-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/2-maternity-photography-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/3-maternity-photographer-cambridge.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/3-maternity-photographer-cambridge-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/4-couples-maternity-photography-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/4-couples-maternity-photography-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/5-pregnancy-photography-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/5-pregnancy-photography-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/6-waterloo-maternity-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/6-waterloo-maternity-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/7-pink-pregnancy-photography-cambridge.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/7-pink-pregnancy-photography-cambridge-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/8-belly-maternity-photographer-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/8-belly-maternity-photographer-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/9-cambridge-maternity-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/9-cambridge-maternity-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/10-waterloo-pregnancy-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/10-waterloo-pregnancy-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/11-beach-maternity-photography-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/11-beach-maternity-photography-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/12-kitchener-maternity-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/12-kitchener-maternity-photographer-thumb.jpg" }

.newborn.gallery
  .container
    .row
      .col-12
        %h2 Newborn Photography
        %p.gallery-summary Savour every detail of your baby with high quality professional newborn photography.
    .row
      .col-sm-4
        %a{ href: "/images/newborn/1-newborn-photography-kitchener-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/1-newborn-photography-kitchener-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/2-cambridge-baby-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/2-cambridge-baby-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/3-family-and-newborn-photography-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/3-family-and-newborn-photography-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/4-waterloo-baby-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/4-waterloo-baby-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/5-family-and-newborn-photographer-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/5-family-and-newborn-photographer-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/6-kitchener-baby-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/6-kitchener-baby-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/7-precious-newborn-photography-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/7-precious-newborn-photography-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/8-cambridge-baby-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/8-cambridge-baby-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/9-smiling-kitchener-newborn-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/9-smiling-kitchener-newborn-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/10-waterloo-baby-photography-with bonnet.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/10-waterloo-baby-photography-with bonnet-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/11-squishy-newborn-photography-kitchener-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/11-squishy-newborn-photography-kitchener-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/12-kitchener-baby-photography-posed.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/12-kitchener-baby-photography-posed-thumb.jpg" }

.family.gallery
  .container
    .row
      .col-12
        %h2 Family Photography
        %p.gallery-summary Babies, teens, adults and kids photography. Families come in all shapes and sizes and each tell a different story.
    .row
      .col-sm-4
        %a{ href: "/images/family/1-cambridge-childrens-pictures.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/1-cambridge-childrens-pictures-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/2-little-kids-pictures-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/2-little-kids-pictures-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/3-waterloo-child-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/3-waterloo-child-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/4-kitchener-family-photography-on-the-beach.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/4-kitchener-family-photography-on-the-beach-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/5-child-photographer-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/5-child-photographer-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/6-waterloo-family-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/6-waterloo-family-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/7-beach-family-photography-cambridge.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/7-beach-family-photography-cambridge-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/8-kitchener-baby-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/8-kitchener-baby-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/9-child-photographer-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/9-child-photographer-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/10-couples-and-family-photography-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/10-couples-and-family-photography-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/11-kitchener-baby-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/11-kitchener-baby-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/12-family-photographer-cambridge.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/12-family-photographer-cambridge-thumb.jpg" }

.pricing
  .container
    .row
      .col-12
        %h2 Pricing
        %p Fees are for Kitchener, Waterloo, and Cambridge photography bookings. Travel fees may apply to out of town bookings.
    .row
      .col-sm-6
        %h4 Newborn Session - $450
        %p Price includes session fee and high resolution edited images via instant download.
      .col-sm-6
        %h4 Portrait Session - $350
        %p Price includes session fee and high resolution edited images via instant download.
    .row
      .col-sm-6
        %h4 Belly to Baby Session - $550
        %p Price includes session fee and high resolution edited images via instant download from both sessions.
      .col-sm-6
        %h4 Signature Session - $275
        %p
          45 minute session, 10 digital files.
          %br
          Not applicable for newborn sessions.
