---
title: Kitchener, Cambridge and Waterloo Photography | Jaime Coyle
---

%header.header
  .container
    .row
      .col-12
        %h1 JAIME COYLE PHOTOGRAPHY
        %p.subheader Baby, maternity, and family photographer in the Kitchener, Waterloo, and Cambridge area.
    .row
      .cta.col-12
        :javascript
          var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
          "=37){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
          ".substr(0,ol);}f(\")84,\\\"cgm|vm3~lt!8=*8oh/%0+720\\\\b/)730\\\\JX{500\\\\" +
          "030\\\\eUXU330\\\\Q_K^SJCDMAjLENGO630\\\\LVMI~s?@&||j771\\\\67Hvucqb!d|d$mf" +
          "320\\\\220\\\\T130\\\\100\\\\120\\\\Q100\\\\130\\\\t\\\\K;X020\\\\220\\\\>1" +
          "8y6iqy!!.=.74oKS^TBV\\\\\\\\U\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCr" +
          "ahCmorf.gnirtS=+o;721=%y;++y)84<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o" +
          ",i rav{)y,x(f noitcnuf\")"                                                   ;
          while(x=eval(x));
%section.about
  .container
    .row
      .col-12
        %h2 Special: Fall Mini Sessions Only $175
        %img.special{ src: "/images/specials/mini-sessions-2013.jpg" }
        %p It’s that time of year again.  As much as I hate thinking about cooler weather, sweaters and cold noses, summer is fading and Fall is upon us.  With that said, it’s mini session time!  I’ll be scheduling 8 time slots over two days.  Each session will be 30 minutes taking place in the Kitchener\Waterloo region.  Looking forward to meeting new families this year!
        %p
          October 19th and 20th, 4 spots each day. Please email
          :javascript
            var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
            "=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
            ".substr(0,ol);}f(\")83,\\\"37=,&=c.<320\\\\220\\\\730\\\\U730\\\\520\\\\100" +
            "\\\\030\\\\520\\\\020\\\\130\\\\230\\\\320\\\\330\\\\0n\\\\300\\\\400\\\\r\\"+
            "\\100\\\\TK4E:X100\\\\710\\\\620\\\\010\\\\420\\\\771\\\\|100\\\\149w=;/:76" +
            "?81%610\\\\(!\\\"\\\\+#r(2)-\\\"\\\\/c430\\\\200\\\\XXNS230\\\\X400\\\\520\\"+
            "\\630\\\\[XVFXBX000\\\\YBNG\\\\\\\\KHB\\\"(f};o nruter};))++y(^)i(tAedoCrah" +
            "c.x(edoCrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i " +
            "rav{)y,x(f noitcnuf\")"                                                      ;
            while(x=eval(x));
          to reserve your spot.
        %p Payment is due upon booking to reserve your time slot.  Mini sessions accommodate ages 6 months and older.
        %br
        %h2 About Me
        %p Sought after lifestyle and portrait photographer specializing in newborn pictures, maternity photos, and family portraits. I capture the moments of little ones and families in the Cambridge, Waterloo and Kitchener area. I am also the mom of a sweet little boy who rocks my world every second, and a little baby girl who perfected my life.
        %p
          %a{ href: "http://blog.jaimecoyle.com/" } Read more on my blog &raquo;

%section.maternity.gallery.shaded
  .container
    .row
      .col-12
        %h2 Maternity Photos
        %p Pregnancy is a wonderful stage in your life that you will miss later (even though you may not think so right now). Mothers have a fantastic glowing look during those last few months of pregnancy which is the ideal time for a maternity photoshoot.
        %p Once you've decided to book a maternity photography session, I'll make sure that you are comfortable and that we create pregnancy photos you will cherish. We’ll discuss which photos you are most interested in creating along with locations and attire. Your partner can also be a part of the images.
        %br
    .row
      .col-sm-4
        %a{ href: "/images/maternity/1-kitchener-maternity-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/1-kitchener-maternity-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/2-maternity-photography-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/2-maternity-photography-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/3-maternity-photographer-cambridge.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/3-maternity-photographer-cambridge-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/4-couples-maternity-photography-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/4-couples-maternity-photography-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/5-pregnancy-photography-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/5-pregnancy-photography-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/6-waterloo-maternity-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/6-waterloo-maternity-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/7-pink-pregnancy-photography-cambridge.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/7-pink-pregnancy-photography-cambridge-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/8-belly-maternity-photographer-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/8-belly-maternity-photographer-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/maternity/9-cambridge-maternity-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/maternity/9-cambridge-maternity-photographer-thumb.jpg" }

%section.newborn.gallery
  .container
    .row
      .col-12
        %h2 Newborn Photos
        %p Savour every detail of your baby with high quality professional newborn photography.
        %p Your little newborn will be changing quickly within the first few weeks of life. Planning ahead and booking a session as soon as possible after your baby arrives is paramount to ensuring you will have beautiful images before he or she has moved out of the newborn stage.
        %p We can also capture your child's growth over their first year. Many parents opt to have their baby photographed at the newborn, 3 month, 6 month, 9 month and one year milestones.
        %br
    .row
      .col-sm-4
        %a{ href: "/images/newborn/1-newborn-photography-kitchener-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/1-newborn-photography-kitchener-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/2-cambridge-baby-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/2-cambridge-baby-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/3-family-and-newborn-photography-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/3-family-and-newborn-photography-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/4-waterloo-baby-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/4-waterloo-baby-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/5-family-and-newborn-photographer-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/5-family-and-newborn-photographer-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/6-kitchener-baby-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/6-kitchener-baby-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/7-precious-newborn-photography-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/7-precious-newborn-photography-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/8-cambridge-baby-photographer.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/8-cambridge-baby-photographer-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/newborn/9-smiling-kitchener-newborn-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/newborn/9-smiling-kitchener-newborn-photography-thumb.jpg" }

%section.family.gallery.shaded
  .container
    .row
      .col-12
        %h2 Family Photos
        %p Babies, teens, adults and kids photography. Families come in all shapes and sizes and each tell a different story. Remember your little one's early years with professional quality photos.
        %p As a children’s photographer and a family photographer, I create images of your family and children as a whole. I’d love to capture your family as they grow.
        %br
    .row
      .col-sm-4
        %a{ href: "/images/family/1-cambridge-childrens-pictures.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/1-cambridge-childrens-pictures-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/2-little-kids-pictures-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/2-little-kids-pictures-kitchener-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/3-waterloo-child-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/3-waterloo-child-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/4-kitchener-family-photography-on-the-beach.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/4-kitchener-family-photography-on-the-beach-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/5-child-photographer-waterloo.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/5-child-photographer-waterloo-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/6-waterloo-family-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/6-waterloo-family-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/7-beach-family-photography-cambridge.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/7-beach-family-photography-cambridge-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/8-kitchener-baby-photography.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/8-kitchener-baby-photography-thumb.jpg" }
      .col-sm-4
        %a{ href: "/images/family/9-child-photographer-kitchener.jpg" }
          %img.img-rounded.img-responsive{ src: "/images/family/9-child-photographer-kitchener-thumb.jpg" }

%section.pricing
  .container
    .row
      .col-12
        %h2 Pricing
        %p Fees are for Kitchener, Waterloo, and Cambridge photography bookings. Travel fees may apply to out of town bookings.
    .row
      .col-sm-6
        %h3 Newborn Session - $450
        %p Price includes session fee and high resolution edited images via instant download.
      .col-sm-6
        %h3 Portrait Session - $350
        %p Price includes session fee and high resolution edited images via instant download.
    .row
      .col-sm-6
        %h3 Belly to Baby Session - $550
        %p Price includes session fee and high resolution edited images via instant download from both sessions.
      .col-sm-6
        %h3 Signature Session - $275
        %p
          45 minute session, 10 digital files.
          %br
          Not applicable for newborn sessions.
