---
title: Kitchener, Cambridge and Waterloo Photography | Jaime Coyle
---

%header.header
  .container
    .row
      .col-lg-12
        %h1 JAIME COYLE PHOTOGRAPHY
        %p.subheader Baby, maternity, and family photographer in the Kitchener, Waterloo, and Cambridge area.

.about
  .container
    .row
      .col-lg-12
        %p Jaime Coyle is a sought after lifestyle and portrait photographer specializing in newborn pictures, maternity photos, and family portraits. Based in Kitchener / Waterloo / Cambridge and surrounding areas.

.container
  .row
    .maternity.col-lg-4.col-sm-4
      %h2 Maternity
      %p.gallery-summary Waterloo maternity photos. Document your pregnancy, one of the most memorable moments in your life, with professional quality photos.
      %p
        %a.btn.btn-default{ href: "/maternity-photography" } Gallery &raquo;

    .newborn.col-lg-4.col-sm-4
      %h2 Baby
      %p.gallery-summary Kitchener baby photos. Savour every detail of your baby with high quality professional newborn photography.
      %p
        %a.btn.btn-default{ href: "/baby-photography" } Gallery &raquo;

    .family.col-lg-4.col-sm-4
      %h2 Family
      %p.gallery-summary Cambridge family photographer. Including baby, teen, adult and kids photography. Families come in all shapes and sizes and each tell a different story.
      %p
        %a.btn.btn-default{ href: "/family-photography" } Gallery &raquo;

  %footer.row
    .col-lg-6
      %p &copy; 2013, All Rights Reserved, Jaime Coyle Photography
    %address.col-lg-6
      Kitchener, ON
      %br
      226 241 4247
      %br
      = mail_to "jaime@jaimecoyle.com"
